* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
 
}
.calendar {
  width: 300px;
  height: 100%;
 
}



.container{
  height: 100%;
 width: 100%;
  background-color: antiquewhite;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.month{
  background-color: green;
  
}

.weekdays{
  background-color: black;

}

.days {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 

}

.weekdays {
  display: flex;
justify-content: space-evenly;

}

.weekdays div {
  margin-top: 30px;
}

.days div {
  height: 50px;
  width: 42.30px;
  margin-top: 20px;
}

.days div {
  text-align: center;
}

