* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
}



.container{
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
}

.month{
  background-color: green;
}
